.active1 {
  border-bottom: 4px solid rgb(0, 119, 255);
  color: rgb(0, 119, 255);
}

.mynavs {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.mynavs:hover {
  color: rgb(0, 119, 255);
}
a {
  color: black;
  text-decoration: none;
}

.mynavs:after {
  content: "";
  display: block;
  border-bottom: 4px solid rgb(0, 119, 255);
  width: 0;
  position: absolute;
  left: 0;
  transition: 0.5s ease;
}

.mynavs:hover:after {
  width: 100%;
}

.startbtn {
  background-color: rgb(229, 241, 255);
  color: rgb(0, 119, 255);
  font-size: 14px;
  font-weight: 700;
}

.startbtn:hover {
  transition: ease 1s;
  color: rgb(229, 241, 255);
  background-color: rgb(0, 119, 255);
}
