@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  position: relative;
}

.cardclass {
  width: 360px;
  min-width: 250px;
}
.desc-para {
  font-size: 22px;
  line-height: 1cm;
  font-weight: 600;
  color: rgb(136, 139, 145);
}

.align {
  text-align: right;
}

h1.display-3.desc-head {
  font-weight: revert;
  color: rgb(36, 46, 66);
}
.setborder {
  border-bottom: 1px solid #808080;
}
.sidenav {
  width: 50%;
  font-size: 14px;
  font-weight: 700;
}
.active {
  background-color: rgb(36, 46, 66);
  border: 1px solid rgb(36, 46, 66);
}
.bold {
  font-weight: 700;
}
.main-head {
  width: 50%;
}

.carousel-control-prev-icon {
  color: black;
  background-color: black;
  padding: 20px;
  position: absolute;
  left: 15px;
}
.carousel-control-next-icon {
  color: black;
  padding: 20px;
  position: absolute;
  right: 15px;
  background-color: black;
}

@media screen and (max-width: 910px) {
  .empty {
    display: none;
  }
  .main-head {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .main-head {
    width: 95%;
  }
  .sidenav {
    width: 75%;
  }
  .cardclass {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .align {
    text-align: center;
  }
}
